.git
.github
.husky
.next
.turbo
.tmp
coverage
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
playwright-report
test-results
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
